#full_back {
    height:100vh;
    width:100%;
    background-color:#EFF9F0;
    position:relative;
    font-family:"Special Elite";
}

#game_board {
    width:1200px;
    height:750px;
    background-color:#1D7874;
    box-shadow:3px 5px 9px #aaa;
}

.wt_center {
	/**Start of vertical/horizontal centering**/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	/**End of vertical/horizontal centering**/
	text-align:center;
	width:100%;
	letter-spacing:0.1em;
}

.game_board_inner {
    height:100%;
    width:100%;
    position:relative;
}

.left_side {
    width:20%;
    height:100%;
    /* background-color:rgba(0,0,0,.5); */
    float:left;
}

.center_side {
    width:50%;
    height:100%;
    /* background-color:orange; */
    float:left;
}

.right_side {
    width:30%;
    height:100%;
    /* background-color:rgba(255,255,255,.5); */
    float:left;
}

/**DICE**/
.dice-7 {
    width:48%;
    display:inline-block;
    text-align:center;
}

.r-dice-7 {
    vertical-align:top;
}

.dice_border {
    width:70%;
    padding-top:70%;
    background:white;
    margin:5%;
    display:inline-block;
}

.d1 {
    margin-top:45%;
}

/**PLAYER CARDS**/
.players-section {
    text-align:center;
    height:100%;
}

.p-card {
    width:80%;
    height:20%;
    border:1px solid white;
    margin:2.5%;
    display:inline-block;
}

.player-card-0 {
    margin-top:12.5%;
}

.p-pic {
    height:100%;
    width:50%;
    background:white;
}

/**CENTER**/
.cs_section {
    text-align:center;
}

.center_rows {
    width:80%;
    height:20%;
    border:1px solid white;
    display:inline-block;
    margin:5px;
}

.zd-title {
    font-size:2em;
    border:unset;
}

.zd-scorer {
    height:10%;
}

.half_row {
    height:100%;
    width:50%;
    float:left;
}

.zd-brains {
    background:white;
}

.zd-shots {
    background:#ddd;
}

.zd_active_dice {
    width:33.33%;
    height:100%;
    float:left;
}

.zd-dice-0 {
    background:white;
}

.zd-dice-1 {
    background:#ddd;
}

.zd-dice-2 {
    background:#aaa;
}

.zd-player-actions {
    background:white;
}