h1, h2, h3, h4, h5, h6, ul {
    margin:unset;
    padding:unset;
}

#full_back {
    height:100vh;
    width:100%;
    background-color:#1D7874;
    position:relative;
    font-family:"Special Elite";
}

#game_board {
    width:1200px;
    height:750px;
}

.wt_center {
	/**Start of vertical/horizontal centering**/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	/**End of vertical/horizontal centering**/
	text-align:center;
	width:100%;
	letter-spacing:0.1em;
}

.game_board_inner {
    height:100%;
    width:100%;
    position:relative;
}

.left_side {
    width:20%;
    height:100%;
    /* background-color:rgba(0,0,0,.5); */
    float:left;
}

.center_side {
    width:50%;
    height:100%;
    /* background-color:orange; */
    float:left;
}

.right_side {
    width:30%;
    height:100%;
    /* background-color:rgba(255,255,255,.5); */
    float:left;
}

/**DICE**/
.dice-7 {
    width:48%;
    display:inline-block;
    text-align:center;
}

.r-dice-7 {
    vertical-align:top;
}

.dice_border {
    background:white;
    margin:5%;
    display:inline-block;
}

.d1 {
    margin-top:45%;
}

.dice-7 img {
    width:70%;
}

/**PLAYER CARDS**/
.players-section {
    text-align:center;
    height:100%;
}

.p-card {
    width:80%;
    height:20%;
    background:white;
    margin:2.5%;
    display:inline-block;
    box-shadow:2px 2px 4px #444;
}

.player-card-0 {
    margin-top:12.5%;
}

.p-pic {
    height:100%;
    width:50%;
    float:left;
}

/**CENTER**/
.cs_section {
    text-align:center;
}

.center_rows {
    width:80%;
    height:20%;
    display:inline-block;
    margin:5px;
}

.zd-title {
    font-size:2em;
    border:unset;
    color:white;
    margin-top:10%;
    height:unset;
}

.zd-scorer {
    height:10%;
}

.half_row {
    height:100%;
    width:50%;
    float:left;
}

.zd-shots {
    background:white;
}

.shot_icon {
    width:33.33%;
    height:100%;
    float:left;
}

.bullet_img_size {
    height:100%;
    width:100%;
}

.zd-brains {
    background:#ddd;
    position:relative;
}

.zd_active_dice {
    width:33.33%;
    height:100%;
    float:left;
}

.zd-dice-0 {
    background:white;
}

.zd-dice-1 {
    background:#ddd;
}

.zd-dice-2 {
    background:#aaa;
}

.zd-player-actions {
    background:white;
    height:50px;
}

.hold_actions, .roll_actions, .load_actions, .reroll_actions, .rules_actions {
    width:50%;
    height:100%;
    float:left;
    cursor:pointer;
}

.active_dice_img {
    height:100%;
    width:100%;
}

.new_gamer {
    height:50px;
    background-color:white;
    cursor:pointer;
}

/**PLAYER IMAGES**/
.player-pic-0, .player-pic-1, .player-pic-2, .player-pic-3 {
    background-size:cover;
}

.player-pic-0 {
    background-image:url("../images/zombie-0.jpg");
}

.player-pic-1 {
    background-image:url("../images/zombie-1.jpg");
}

.player-pic-2 {
    background-image:url("../images/zombie-2.jpg");
}

.player-pic-3 {
    background-image:url("../images/zombie-3.jpg");
}

.player_active_border {
    border:7px solid coral;
}

/**CURRENT PLAYER DISPLAY**/
.current-player-display {
    height:100px;
    width:300px;
    background:coral;
    margin:auto;
    margin-top:10px;
    margin-bottom:15px;
    position:relative;
    border:5px solid white;
}

.current-player-display h1 {
    color:white;
}

/**SIMPLE HOVER**/
.load_actions:hover {color:coral;}
.roll_actions:hover {color:coral;}
.hold_actions:hover {color:coral;}
.reroll_actions:hover {color:coral;}
.rules_actions:hover {color:coral;}
.new_gamer:hover {color:coral;}


.player-brain-0, .player-brain-1, .player-brain-2, .player-brain-3 {
    background-image:url("../images/gray-brain.jpg");
    height:100%;
    width:50%;
    float:left;
    position:relative;
    background-size:cover;
}

.brain-counter {
    color:white;
    font-size:2em;
}

/**GAME RULES**/
#game_rules_pop {
    display:none;
    height:600px;
    width:500px;
    background-color:coral;
    z-index:20;
    box-shadow:2px 2px 4px #444;
    position:fixed;
}

.rules_text_contain {
    font-size:.8em;
    width:90%;
    line-height:20px;
    color:white;
}

.close_rules {
    font-weight:bold;
    cursor:pointer;
    display:inline-block;
}